body{

    background-color: white;

}

h1{

    color: darkgreen;

}

p{

    color: blue;

}
nav{

    background-color: black;

    padding:10px;

}

a{

    color:white;

    text-decoration:none;

    margin-right:15px;

}

#main-title{

    color:red;

    font-size:40px;

}

.text{

    color:blue;

    font-size:22px;

}

#login-title{

    color:purple;

}